/* Fromat of the file: color and family file
 * Remove any default margin and padding if any
 * Font Colour: dark blue (#10244D)
 */
html,body{
  margin:0;
  color:#10244D; /*Dark blue */
  font-size: 18px;
  font-family:sans-serif,"Times New Roman","Arial Black",serif;
}

/* Format the page's h1.
 * z-index:1 - So that it will always appear on top and when scolling down content will be hidden underneath
 * font color : white ( #FFFFFF)
 * background : dark blue (#10244D;)
 * font family: Verdana,Georgia,"Arial Black",serif, sans-serif
 */
header.page_header1{
  z-index: 1;
  position: fixed;
  top:0;
  width: 100%;
  height: 100px;
  color: #FFFFFF;
  background:#10244D;
  font-family: Verdana,Georgia,"Arial Black",serif, sans-serif;
}

/* remove the margin and padding of header 1*/
header h1{
  padding-top: 0;
  margin: 0;
}

/* Make the paragraph in the header italic*/
header p{
  font-style: italic;
}

h1,h2,h3,h4,h5,h6{
  margin-top: 30px;
  margin-bottom: 30px;
}

/* This is formating the page content.
 * Is placing the content next to the table of content and below the page header.
 */
#page_content{
  display: block;
  position:absolute;
  top:100px;
  left: 230px;
}

/* This is to make the font bold*/
.imp_text {
  font-weight: bold;
}

/* this is to avoid changing a line when a <p> is used */
.text_inline{
  display: inline;
}

/* This is to modify the example class
 * Create a boarder and place it into the center of the page.
 */
.example{
  padding: 5px;
  position: relative;
  left: 100px;
  width: 700px;
  border:solid;
  border-color: #6D8CCD;
  border-width: 5px;
}
/* Adds paddding to the image of example1 div section */
#per_tech1_example img{
  padding: 0;
}

/* Modifies the text of the example */
#per_tech1_example p{
  position: absolute;
  bottom: 60px;
  left: 250px;
  text-align: left;
  font-weight: bold;
}

/* modifies the images
 * adds padding
 */
img{
  position: relative;
  padding-left: 200px;
}

/* FOR CONTENT LIST
 * place the div in a fixed position and sets bottom to 0 so that the div will expand all the way to the bottom of the page
 * sets colour to black (#00000)
 * and the background to light blue (#4067BA)
 * font family: sans-serif,"Times New Roman","Arial Black",serif;
 */

.content_list{
  display: block;
  position:fixed;
	width: 200px;
	top: 100px;
	bottom: 0;
  background-color:#5073C3;
  color: #000000;
  font-family:sans-serif,"Times New Roman","Arial Black",serif;
}

/* Style the content_list links and the dropdown button
 * Add padding
 * sets color to black (#000000)
 *
 */
.content_list a, .dropdown-btn {
  display: block;
  width: 100%;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  color: #000000;
  width: 100%;
  text-align: left;
  /*Remove the underline from the links and the boarder and fillins of the buttons.*/
  text-decoration: none;
  border: none;
  background: none;
  outline: none;
  /*Creates the small hand on the screen when hovering over a link or a button*/
  cursor: pointer;
}

/* Dropdown container (hidden by default) and becomes visible when the button is cliked.*/
.dropdown_content {
  display: none;
  background-color: #9FB6DF;
}

.dropdown_content a{
  width: 90%;
}

.content_list a:link {
	color: #000000;
}
.content_list a:visited {
	color: #000000;
}
.content_list a:hover, .dropdown-btn:hover {
  background-color: #305791;
	color:#FFFFFF;
  text-decoration:underline;
}

.content_list  a:active {
	color: #000000;
}

.fa-caret-down{
  padding-left: 5px;
}

.hidden_link_text{
  display: none;
}

.skipNavigation{
  display: none;
}
